{% extends "base.html" %}
{% block content %}
<h2>All Pets</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Age</th>
        <th>Actions</th>
    </tr>
    {% for pet in pets %}
    <tr>
        <td>{{ pet.name }}</td>
        <td>{{ pet.type }}</td>
        <td>{{ pet.age  }}</td>
        <td>
            <a href="/edit/{{ pet._id }}" class="btn btn-sm btn-secondary me-2">Edit</a>
            <form action="/delete/{{ pet._id }}" method="post">
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            </form>
        
        </td>
    </tr>
    <p>{{ pet }}</p>
    {% endfor %}
</table>
{% endblock %}
